Django==1.8.6
django-crispy-forms==1.5.2
django-formtools==1.0
django-paypal==0.2.7
django-security==0.9.3
django-two-factor-auth==1.2.1
linaro-django-pagination==2.0.3
django-otp==0.3.3
qrcode==4.0.4
requests==2.8.1
six==1.10.0
