{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    {% if user.is_authenticated %}
    <h1>Witaj,  {{ user.first_name }}!</h1>
    {% else %}
    <h1>Witaj,  Podróżniku!</h1>
    {% endif %}
    <p>Zapraszamy do podróży z nami!</p>
</div>
                    <div class="row">
                        <div class="col-xs-6 col-lg-4">
                            <h2>O nas</h2>
                            <p>City Pedal to nowoczesny system wypożyczalni rowerów miejskich, z wieloma stacjami w Twoim mieście!</p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Rowery</h2>
                            <p>W naszym posiadaniu są najnowocześniejsze rowery. Ponadto dokładamy wszelkich starań by utrzymać je zawsze w jak najlepszym stanie! </p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Nowoczesny system</h2>
                            <p>Naszym głównym celem jest dostarczenie nowoczesnego systemu wypożyczalni rowerów miejskich. Dzięki najnowszym technologiom oraz specjalistom jesteśmy w ścisłej czołówce w Polsce w tego typu rozwiazaniach!</p>
                        </div><!--/.col-xs-6.col-lg-4-->
                    </div><!--/row-->
{% endblock %}